<div id="Learn More" class="tabcontent" style="background-image:url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F1491613.jpg');background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
<div class="fontcolor" style="color:white"
    <b><h3> Credit Cards vs. Debit Cards</h3> </b>
<h4>Which one is right for you? </h4>
<p> Practice, early and often, with a credit or debit card can help you form healthy money habits as you get older. </p>
<p> Every year, more and more adolescents aged 8-13 are beginning their financial journeys with debit and credit cards. However, it’s important to consider and understand the differences between each one to know which one is better for you! </p>
<div class="row">
<div class="col-6 col-sm-4"> <b>Credit Cards: rely on credit that you pay back to the bank to make purchases </b> </div>
<div class="col-6 col-sm-4"> 
<ul>
<li> Loan from your card issuer </li>
<li>Can yield very high interest rates</li>
<li>May have a yearly fee</li>
<li>Rewards like points, miles, cash back</li></p>
<dtton>
</div>
<div class="row"></div>
<div class="col-6 col-sm-4"> <b> Debit Cards: rely on your money that you have saved in the bank </b> </div>
<div class="col-6 col-sm-4"> 
<ul>
<li>Money comes from your bank account </li>
<li>No repayment needed; just spend what you have</li>
<li>Usually no fees</li>
<li>Usually no rewards</li></p>

<h3> Got more questions? We’ve got answers.</h3>
<h4>Post questions or ideas you want here, and our team will get back to you.</h4>
<div class="container">
  <form action="/learnmore">
    <div class="row">
      <div class="col-25">
        <label for="email">email</label>
    <div class="row">
      <div class="col-25">
        <label for="Questions">Questions</label>
      </div>
      <div class="col-75">
        <textarea id="Questions" name="Questions" placeholder="Type you questions here..." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<style>
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>